.banner__imagem-telao{
    display: none;
}

.linha-vertical {
    display: none;
}

.sobre__pc {
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0.5em 0 2em 0;
}

.banner__imagem-celular {
    width: 100%;
    height: auto;
    opacity: 0.4;
    position: relative;
    z-index: 1;
}

.banner__texto {
    position: absolute;
    top: 35%;
    left: 30%;
    right: 30%;
    margin-top: 0.8em;
    font-size: 36px;
    font-weight: 800;
    border-radius: 1em;
    color: var(--azul);
    z-index: 2;
}



.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;

}

.sobre__texto {
    font-size: 16px;
    color: var(--azul);
    padding: 2em;
    line-height: 1.5em;
    text-align: center;
}


.linha-horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--azul-hover);
}


@media screen and (min-width: 700px) {
    .sobre__texto {
        font-size: 22px;
        
    }
}

@media screen and (min-width: 830px) {
    .banner__texto {
        font-size: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .sobre__celular {
        display: none;
    }

    .sobre__pc {
        display: flex;
    }

    .banner__pc {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0.5em 0 0em 0;
    }

    .banner__imagem-pc {
        width: 100%;
        height: auto;
        opacity: 0.4;
        position: relative;
        z-index: 1;
    }

    .banner__texto {
        position: absolute;
        top: 45%;
        left: 12%;
        margin-top: 0.8em;
        font-size: 40px;
        font-weight: 800;
        border-radius: 1em;
        color: var(--azul);
        z-index: 2;
        transform: translate(-35%, -10%);
        text-align: center;
    }

    .sobre__texto {
        padding: 1em;
        font-size: 24px;
    }

}

@media screen and (min-width: 1200px) {
    .sobre__celular {
        display: none;
    }

    .sobre__pc {
        display: flex;
    }

    .banner__pc {
        display: flex;
        align-items: center;

        position: relative;
        margin: 0.5em 0 0em 0;
    }

    .banner__imagem-pc {
        width: 100%;
        height: auto;
        opacity: 0.4;
        position: relative;
        z-index: 1;
        padding-bottom: auto;
    }

    .banner__texto {
        position: absolute;
        top: 45%;
        left: 12%;
        margin-top: 0.8em;
        font-size: 36px;
        font-weight: 800;
        border-radius: 1em;
        color: var(--azul);
        z-index: 2;
        transform: translate(-35%, -10%);
        text-align: center;
    }

    .sobre__texto {
        padding: 1em;
        font-size: 28px;
    }

}

@media screen and (min-width: 1400px) {
    .banner__imagem-pc {
        display: none;
    }

    .banner__pc{
        display: flex;
        flex-direction: column;
    }


    .banner__texto {
        position: absolute;
        top: 25%;
        left: 45%;
        margin-top: 0.8em;
        font-size: 3vw;
        font-weight: 800;
        border-radius: 1em;
        color: var(--azul);
        z-index: 2;
        transform: translate(-35%, -10%);
        text-align: center;
    }

    .banner__imagem-telao {
        display: flex;
        width: 100%;
        height: auto;
        opacity: 0.4;
        position: relative;
        z-index: 1;
        padding-bottom: auto;
    }

    .container__sobre{
      padding: 3em;
    }
}